{% extends 'bootstrap_base.html' %}

{% load static %}

{% block css_files %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


{% endblock %}

{% block page_title %}
    index.html
{% endblock page_title %}

{% block content %}

{% if filterForm %}
<!--------------------------------------------------------------------------------------------------------------------------------------------------->

<form method="get" action="{% url 'books' %}" class="row gy-2 gx-3 align-items-center">
    <div class="col-auto">
        <h3>Filter</h3>
      <label for="autoSizingInputGroup">
          <div class="card">
             <div class="card-body">
                 <h6>Book Name <br> {{ filterForm.book_name }}</h6>
             </div>
          </div>
      </label>

      <label for="id_author">
          <div class="card">
             <div class="card-body">
                 <h6>Author <br> {{ filterForm.author }}</h6>
             </div>
          </div>
      </label>

      <label for="id_publisher">
          <div class="card">
             <div class="card-body">
                 <h6>Publisher <br> {{ filterForm.publisher }}</h6>
             </div>
          </div>
      </label>

      <label for="id_categories">
           <div class="card">
             <div class="card-body">
                 <h6>Category <br> {{ filterForm.categories }}</h6>
             </div>
          </div>
      </label>

      <label for="id_price">
          <div class="card">
             <div class="card-body">
                 <h6>Price <br> {{ filterForm.price }}</h6>
             </div>
          </div>
      </label>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" value="Reset" id="resetBtn" onClick="this.form.reset()"  class="btn btn-warning my-2">
                Reset
            </button>
            <button type="submit" class="btn btn-primary my-2">Filter</button>
        </div>

</div>
</form>
                       {% if user.is_authenticated and user.is_staff %}
    <hr class="dropdown-divider">

<form method="post" action="{% url 'books' %}" enctype="multipart/form-data" class="row gy-2 gx-3 align-items-center">{% csrf_token %}
      <div class="col-auto">

         <label for="id_book_name">
             <div class="card">
             <div class="card-body">
                 <h6>Book <br> {{ form.book_name }}</h6>
             </div>
            </div>
         </label>

         <label for="id_author">
             <div class="card">
                <div class="card-body">
                    <h6>Author <br> {{ form.author }}</h6>
                </div>
            </div>
         </label>

         <label for="id_publisher">
            <div class="card">
                <div class="card-body">
                    <h6>Publisher <br> {{ form.publisher }}</h6>
                </div>
            </div>
         </label>

         <label for="id_categories">
            <div class="card">
                <div class="card-body">
                    <h6>Category <br> {{ form.categories }}</h6>
                </div>
            </div>
         </label><br>

         <label for="id_price">
             <div class="card">
                <div class="card-body">
                    <h6>Price <br> {{ form.price }} </h6>
                </div>
            </div>
         </label>

         <label for="formFile">
             <div class="card">
                <div class="card-body">
                    <h6>Pub-Time <br> {{ form.pub_time }}</h6>
                </div>
            </div>
         </label>

         <label for="formFile">
            <div class="card">
                <div class="card-body">
                    <h6>ISBN <br> {{ form.ISBN}}</h6>
                </div>
            </div>
         </label>

         <label for="formFile" aria-label="img sec">
             <div class="card">
                <div class="card-body">
                    <h6> Image <br> {{ form.img }}</h6>
                </div>
            </div>
         </label>
          <br>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" value="Reset" id="resetBtn1" onClick="this.form.reset()"  class="btn btn-warning my-2">
                Reset
            </button>
            <button type="submit" class="btn btn-success my-2">Submit</button>
          </div>
            </div>
</form>

                            {% endif %}


    {% endif %}

     <hr/>
     <h1>Book List</h1>
     <table class="table">
         <thead>
         <tr>
             <th>Name</th>
             <th>Author</th>
             <th>publisher</th>
             <th>Price</th>
             <th>Category</th>
             {% if user.is_authenticated and user.is_staff %}
             <th>Edit</th>
             {% else %}
             <th>Details</th>
             {% endif %}
         </tr>
         </thead>
         <tbody>
         <tbody>
     {% for book in qs %}
     <tr>
         <td>{{ book.book_name}}</td>
         {% if book.author  %}
         {% for a in book.author %}
         <td>
             {{a}}
         </td>
         {% endfor %}
         {% else %}
         <td>None</td>
         {% endif %}
         {% if book.publisher %}
         {% for b in  book.publisher %}
         <td>{{b}}</td>
         {% endfor %}
         {% else %}
         <td>None</td>
         {% endif %}
         <td>${{ book.price }}</td>
         {% if book.categories %}
         {% for c in  book.categories %}
         <td>{{c}}</td>
         {% endfor %}
         {% else %}
         <td>None</td>
         {% endif %}
         {% if user.is_staff %}
         <td>
             <a href="{% url 'update_url_book' book.dbid  %}" class="btn btn-warning">Update</a>
             <a href="{% url 'delete_url_book' book.dbid %}" class="btn btn-danger">Delete</a>
         </td>
         {% else %}
        <td>
        <a href="{% url 'book-detail' book.dbid %}" class="btn btn-info">Buy Now</a>
        </td>
    {% endif %}

            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


{% endblock %}


{% block js_files %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
