{% extends 'bootstrap_base.html' %}

{% load static %}

{% load i18n %}

{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block javascript %}
<script src="{% static 'assets/books.js' %}"></script>
{% endblock %}

{% block content %}
  <p>
    <button type="button" class="btn btn-primary js-create-book" data-url="{% url 'book:book_create' %}">
      <span class="glyphicon glyphicon-plus"></span>
      New book
    </button>
  </p>

<hr/>
<h1>Book List</h1>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>publisher</th>
        <th>Price</th>
        <th>Category</th>
        {% if user.is_authenticated and user.is_staff %}
        <th>Edit</th>
        {% else %}
        <th>Details</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% include 'include/partial_book_list.html' %}
    </tbody>
</table>

  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>

{% endblock %}
