{% extends 'bootstrap_base.html' %}

{% load static %}

{% block content %}

<div class="container">
        {% if user.is_authenticated and user.is_staff%}
    <form method="post" action="{% url 'publishers' %}" class="row gy-2 gx-3 align-items-center">{% csrf_token %}
    <div class="col-auto">
      <label for="autoSizingInputGroup">
          <div class="card">
             <div class="card-body">
                 <h6>Publisher Name <br> {{ form.publisher_name}}</h6>
             </div>
          </div>
      </label>

            <label for="autoSizingInputGroup">
                <div class="card">
                    <div class="card-body">
                        <h6>Establish Year <br> {{ form.establish_year }}</h6>
                     </div>
                </div>
             </label>

            <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
             <button type="button" value="Reset" id="resetBtn4" onClick="this.form.reset()"  class="btn btn-warning my-2">
                Reset
            </button>
      <button type="submit"  class="btn btn-success my-2">Submit</button>
    </div>
        </div>
    </form>
</div>
          {% endif %}

        <h1>Publisher List</h1>
<table class="table">
<thead>
<tr>
    <th>Name</th>
    <th>Establish Year</th>
    {% if user.is_authenticated and user.is_staff %}
     <th>Edit</th>
     {% else %}
     <th>Details</th>
      {% endif %}
</tr>
</thead>
<tbody>
<tbody>
{% for publisher in qs %}
<tr>
<td>{{ publisher.publisher_name}}</td>

<td>{{ publisher.establish_year }}</td>
    {% if user.is_staff %}
         <td>
             <a href="{% url 'update_url_publisher' publisher.id %}" class="btn btn-warning">Update</a>
             <a href="{% url 'delete_url_publisher' publisher.id %}" class="btn btn-danger">Delete</a>
         </td>
         {% else %}
        <td>
        <a href="{% url 'filter_url_publisher' publisher.id %}" class="btn btn-success">Filter by Publisher</a>
        </td>
    {% endif %}
{% endfor %}
</tbody>
</table>




{% endblock %}


{% block js_files %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
