{% extends 'bootstrap_base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
    {% if user.is_authenticated and user.is_staff %}
    <form method="post" action="{% url 'authors' %}">{% csrf_token %}
<div>
        <label for="id_book_name">Author Name:</label>
        {{ form.author_name}}
    </div>
    <div>
        <label for="id_author">Author Surname:</label>
        {{ form.author_surname }}
    </div>
    <div>
        <label for="id_publisher">Birth Date:</label>
        {{ form.birth_date }}
    </div>
    <button type="submit"  class="btn btn-success">Submit</button>
    </form>
    {% endif %}
        <h1>Author List</h1>
<table class="table">
<thead>
<tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Birth Date</th>
    <th>Edit</th>
</tr>
</thead>
<tbody>
<tbody>
{% for author in qs %}
<tr>
<td>{{ author.author_name}}</td>

<td>{{ author.author_surname }}</td>

<td>{{ author.birth_date}}</td>
    {% if user.is_staff %}
    <td>
        <a href="{% url 'update_url_author' author.id %}" class="btn btn-warning">Update</a>
        <a href="{% url 'delete_url_author' author.id %}" class="btn btn-danger">Delete</a>

    </td>
        {% else %}
        <td>
        <a href="{% url 'update_url_author' author.id %}"><button class="btn btn-success">Book detail</button></a>
        </td>
    {% endif %}

{% endfor %}
</tbody>
</table>
        </div>
    </div>
</div>


{% endblock %}


{% block js_files %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
